.preloader {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 99999999999999999;
}

.preloader > .status {
  position: absolute;
  left: 50%;
  top: 45%;
}
